@use '@angular/material' as mat;
@use 'tokens' as tokens;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$spring-green-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: (
          Inter,
          ui-sans-serif,
          system-ui,
          sans-serif,
        ),
        brand-family: (
          Inter,
          ui-sans-serif,
          system-ui,
          sans-serif,
        ),
        regular-weight: 400,
        medium-weight: 600,
        bold-weight: 700,
      ),
      density: 0,
    )
  );

  @include tokens.inventory-design-tokens;
}
